<div class="column is-half">
  <article class="media box">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="https://cdn.pixabay.com/photo/2022/01/29/11/02/cat-6977096_960_720.jpg">
      </p>
    </figure>
    <div class="media-content">
      
    </div>
  </article>
</div>

<%= @tweeets.each do |tweeet| %>
  <div class="box">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img src="https://cdn.pixabay.com/photo/2022/01/29/11/02/cat-6977096_960_720.jpg">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <strong>Marwan</strong>
          <small>@marwan515</small>
          <p><%= tweeet.tweeet %></p>
        </div>
        <nav class="level">
          <div class="level-left is-mobile">
            <%= link_to tweeet, class: "level-item" do %>
              <span class="icon"><i class="fa fa-link" aria-hidden="true"></i></span>
            <% end %>
            <%= link_to edit_tweeet_path(tweeet), class: "level-item" do %>
              <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
            <% end %>
            <%= link_to tweeet, method: :delete, data: { confirm: "Are You Sure You Want To Delete This Tweeet?"} do %>
              <span class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
            <% end %>
          </div>
        </nav>
      </div>
    </article>
  </div>
<% end %>